$font-primary: "Inter", sans-serif;
$font-secondary: "Gilroy", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;




$bg-primary: #f5f3ea;

$primary-color: #252525;
$secondary-color: #000;

$link-bg-primary: #fff; 
$link-color-primary: #252525;

$link-bg-secondary: #252525;
$link-color-secondary: #fff;

$logotype-color: #394149;
$logotype-text-color: #000;
$copyright-color: #333;

$heading-color: #333;