.header {
  padding-block: 20px 30px;

  @media (min-width: 768px) {
    padding-block: 40px 30px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: 768px) {
    padding-bottom: 30px;
    align-items: center;
  }
}

.header__logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.header__logo-img {
  color: $logotype-color;
}

.header__logo-text {
  display: none;
  font-family: $font-secondary;
  font-weight: $font-weight-extrabold;
  font-size: 35px;
  letter-spacing: -0.02em;
  color: $logotype-text-color;

  &--medium {
    text-transform: uppercase;
    font-weight: $font-weight-medium;
  }

  &--medium::after {
    content: "®";
    font-weight: $font-weight-light;
    font-size: 25px;
    vertical-align: top;
  }

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.header__menu-btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: $font-weight-semibold;
  font-size: 25px;
  color: $primary-color;

  @media (min-width: 768px) {
    padding-block: 20px;
  }
}
