<section class="contact">
  <div class="container contact__container">
    <h2 class="contact__title">CONTACT</h2>
    <div class="contact__content">
      <h3 class="contact__heading">
        LET'S START BUILDING YOUR BRAND'S UNIQUE STORY TOGETHER.
      </h3>
      <p class="contact__text">
        Want to see what a difference a strong brand can make? Request a consultation today.
      </p>
      <a href="" class="btn btn--black btn--w-arrow team-cta__btn">Get in touch <svg width="24" height="34"
                        viewBox="0 0 24 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5879 16.667L1.58789 16.667" stroke="currentColor" stroke-width="2"
                            stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M16.333 23.3335L22.9997 16.6668L16.333 10.0002" stroke="currentColor" stroke-width="2"
                            stroke-linecap="square" stroke-linejoin="round" />
                    </svg></a>
    </div>
  </div>
</section>