<footer class="footer">
  <div class="container footer__container">
    <p class="footer__copyright">
      © Made by <strong>Kunturi Design</strong>. All rights reserved.
    </p>
    <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
  </div>
</footer>
