<section class="logos">
    <div class="logos__container container">
        <img src="./images/logos/logo-7.svg" alt="logo" class="logos__img"><img src="./images/logos/logo-6.svg" alt="logo"
            class="logos__img"><img src="./images/logos/logo-5.svg" alt="logo" class="logos__img"><img
            src="./images/logos/logo-4.svg" alt="logo" class="logos__img"><img src="./images/logos/logo-3.svg" alt="logo"
            class="logos__img"><img src="./images/logos/logo-2.svg" alt="logo" class="logos__img"><img
            src="./images/logos/logo-1.svg" alt="logo" class="logos__img">
    </div>
</section>