<section class="my-clients">
  <div class="container">
    <h2 class="section-title my-clients__title">MY CLIENTS</h2>
    <div class="my-clients__grid">

      <div class="my-clients__card">
        <img src="../images/logos/logo-6.svg" alt="Client logo" class="my-clients__logo" />
        <h3 class="my-clients__heading">Exceptional Web and Digital Design That Exceeded Expectations</h3>
        <p class="my-clients__text">
          Our website redesign and digital transformation went above and beyond our wildest dreams. Dianne's attention to detail, creativity, and unmatched design skills resulted in a visually stunning and user-friendly online presence that left us in awe.
        </p>
        <div class="my-clients__person">
          <img src="../images/client-1.jpg" alt="Annette Black" class="my-clients__photo" />
          <div>
            <p class="my-clients__name">Annette Black</p>
            <p class="my-clients__role">Marketing Coordinator</p>
          </div>
        </div>
      </div>

      <div class="my-clients__card">
        <img src="../images/logos/logo-7.svg" alt="Client logo" class="my-clients__logo" />
        <h3 class="my-clients__heading">Art Direction that
          Perfectly Captured Our 
          Essence</h3>
        <p class="my-clients__text">
          Collaborating with Dianne on our art direction was an absolute delight. He not only listened to our ideas but also infused his own creativity into the mix, resulting in a visual brand identity that flawlessly encapsulated our essence.
        </p>
        <div class="my-clients__person">
          <img src="../images/client-2.jpg" alt="Courtney Henry" class="my-clients__photo" />
          <div>
            <p class="my-clients__name">Ralph Edwards</p>
            <p class="my-clients__role">Software Development Manager</p>
          </div>
        </div>
      </div>

      <div class="my-clients__card">
        <img src="../images/logos/logo-4.svg" alt="Client logo" class="my-clients__logo" />
        <h3 class="my-clients__heading">Interaction Design Expertise that Delivered Beyond Measure</h3>
        <p class="my-clients__text">
          Dianne's expertise in interaction design elevated our app to new heights of user-friendliness and intuitiveness. His meticulous approach and imaginative thinking led to a product that far exceeded our expectations.
        </p>
        <div class="my-clients__person">
          <img src="../images/client-3.jpg" alt="Devon Lane" class="my-clients__photo" />
          <div>
            <p class="my-clients__name">Jacob Jones</p>
            <p class="my-clients__role">Scrum Master</p>
          </div>
        </div>
      </div>

      <div class="my-clients__card">
        <img src="../images/logos/logo-3.svg" alt="Client logo" class="my-clients__logo" />
        <h3 class="my-clients__heading">Captivating Motion Design that Breathed Life into Our Brand</h3>
        <p class="my-clients__text">
          Dianne's mastery of motion design is nothing short of extraordinary. With his stunning animations, he breathed life into our brand, leaving our audience thoroughly captivated.
        </p>
        <div class="my-clients__person">
          <img src="../images/client-4.jpg" alt="Leslie Alexander" class="my-clients__photo" />
          <div>
            <p class="my-clients__name">Cameron Williamson</p>
            <p class="my-clients__role">Software Tester</p>
          </div>
        </div>
      </div>

      <div class="my-clients__card">
        <img src="../images/logos/logo-2.svg" alt="Client logo" class="my-clients__logo" />
        <h3 class="my-clients__heading">Dianne Delivered a Website that Truly Showcases Our Business</h3>
        <p class="my-clients__text">
          Dianne's web design prowess has given us a website that not only showcases our business but does so in a highly professional and user-friendly manner. We couldn't be more thrilled with the final result.
        </p>
        <div class="my-clients__person">
          <img src="../images/client-5.jpg" alt="Wade Warren" class="my-clients__photo" />
          <div>
            <p class="my-clients__name">Eleanor Pena</p>
            <p class="my-clients__role">Software Developer</p>
          </div>
        </div>
      </div>

      <div class="my-clients__card">
        <img src="../images/logos/logo-1.svg" alt="Client logo" class="my-clients__logo" />
        <h3 class="my-clients__heading">Dianne Delivers a Business-Showcasing Website</h3>
        <p class="my-clients__text">Dianne's mastery of web design has given our brand a vibrant new lease on life. With precision and creativity, she transformed our vision into a website that truly sets us apart from the competition.
        </p>
        <div class="my-clients__person">
          <img src="../images/client-6.jpg" alt="Kathryn Murphy" class="my-clients__photo" />
          <div>
            <p class="my-clients__name">Courtney Henry</p>
            <p class="my-clients__role">Software Development Manager</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>