<section class="our-team">
    <div class="our-team__container container">
        <h2 class="section-title our-team__title">Our team</h2>
        <div class="team-box">
            <div class="team-card">
                <a href="#" class="team-card__link">
                    <h3 class="team-card__name">Tyra Dhillon</h3>
                    <p class="team-card__role">Creative Director</p>
                    <div class="team-card__img-wrapper">
                        <img src="./images/team-member-1.jpg" alt="Tyra Dhillon" class="team-card__img">
                    </div>
                </a>
                <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
            </div>
            <div class="team-card">
                <a href="#" class="team-card__link">
                    <h3 class="team-card__name">Darcel Ballentine</h3>
                    <p class="team-card__role">Brand Designer</p>
                    <div class="team-card__img-wrapper">
                        <img src="./images/team-member-2.jpg" alt="Darcel Ballentine" class="team-card__img">
                    </div>
                </a>
                <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
            </div>
            <div class="team-card">
                <a href="#" class="team-card__link">
                    <h3 class="team-card__name">Brittni Lando</h3>
                    <p class="team-card__role">Fashion Designer</p>
                    <div class="team-card__img-wrapper">
                        <img src="./images/team-member-3.jpg" alt="Brittni Lando" class="team-card__img">
                    </div>
                </a>
                <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
            </div>
            <div class="team-card">
                <a href="#" class="team-card__link">
                    <h3 class="team-card__name">Roselle Ehrman</h3>
                    <p class="team-card__role">Graphic Designer</p>
                    <div class="team-card__img-wrapper">
                        <img src="./images/team-member-4.jpg" alt="Roselle Ehrman" class="team-card__img">
                    </div>
                </a>
                <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
            </div>
            <div class="team-card">
                <a href="#" class="team-card__link">
                    <h3 class="team-card__name">Jane Cooper</h3>
                    <p class="team-card__role">Creative Director</p>
                    <div class="team-card__img-wrapper">
                        <img src="./images/team-member-5.jpg" alt="Jane Cooper" class="team-card__img">
                    </div>
                </a>
                <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
            </div>
            <div class="team-card">
                <a href="#" class="team-card__link">
                    <h3 class="team-card__name">Robert Fox</h3>
                    <p class="team-card__role">Brand Designer</p>
                    <div class="team-card__img-wrapper">
                        <img src="./images/team-member-6.jpg" alt="Robert Fox" class="team-card__img">
                    </div>
                </a>
                <div class="team-card__social socials">
                    <a href="#" class="social-link social-link--facebook"></a>
                    <a href="#" class="social-link social-link--twitter"></a>
                    <a href="#" class="social-link social-link--linkedin"></a>
                    <a href="#" class="social-link social-link--dribble"></a>
                </div>
            </div>
            <div class="team-cta">
                <h3 class="team-cta__title">Join the team</h3>
                <p class="team-cta__subtitle">Desire to influence <br>the future of branding?</p>
                <a href="" class="btn btn--black btn--w-arrow team-cta__btn">Find Job <svg width="24" height="34"
                        viewBox="0 0 24 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5879 16.667L1.58789 16.667" stroke="currentColor" stroke-width="2"
                            stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M16.333 23.3335L22.9997 16.6668L16.333 10.0002" stroke="currentColor" stroke-width="2"
                            stroke-linecap="square" stroke-linejoin="round" />
                    </svg></a>
            </div>
        </div>
    </div>
</section>