<section class="selected-work">
    <div class="selected-work__container container">
        <h2 class="selected-work__title section-title">Selected work</h2>
        <div class="works-list">
            <div class="works-list__image-wrapper">
                <img src="./images/trinity-work-1.jpg" alt="trinity-work-1" class="works-list__img">
            </div>
            <div class="works-list__image-wrapper">
                <img src="./images/trinity-work-2.jpg" alt="trinity-work-2" class="works-list__img">
            </div>
            <div class="works-list__info works-list__info--reorder">
                <h3 class="works-list__title">Trinity</h3>
                <div class="works-list__info-top">
                    <a href="#" class="btn btn--white">Digital Design</a>
                    <a href="#" class="btn btn--white">2022</a>
                </div>
                <div class="works-list__info-bottom">
                    <a href="#" class="btn btn--w-arrow btn--black">Discover<svg width="24" height="34"
                            viewBox="0 0 24 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.5879 16.667L1.58789 16.667" stroke="currentColor" stroke-width="2"
                                stroke-linecap="square" stroke-linejoin="round" />
                            <path d="M16.333 23.3335L22.9997 16.6668L16.333 10.0002" stroke="currentColor"
                                stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="works-list">
            <div class="works-list__image-wrapper">
                <img src="./images/morpheus-work-1.jpg" alt="morpheus-work-1" class="works-list__img">
            </div>
            <div class="works-list__image-wrapper">
                <img src="./images/morpheus-work-2.jpg" alt="morpheus-work-2" class="works-list__img">
            </div>
            <div class="works-list__info">
                <h3 class="works-list__title">Morpheus</h3>
                <div class="works-list__info-top">
                    <a href="#" class="btn btn--white">Digital Design</a>
                    <a href="#" class="btn btn--white">2023</a>
                </div>
                <div class="works-list__info-bottom">
                    <a href="#" class="btn btn--w-arrow btn--black">Discover<svg width="24" height="34"
                            viewBox="0 0 24 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.5879 16.667L1.58789 16.667" stroke="currentColor" stroke-width="2"
                                stroke-linecap="square" stroke-linejoin="round" />
                            <path d="M16.333 23.3335L22.9997 16.6668L16.333 10.0002" stroke="currentColor"
                                stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                        </svg></a>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-work btn--wide btn--white">All Work</a>
    </div>
</section>