<section class="what-i-do">
    <div class="what-i-do__image"></div>
    <div class="container">
        <div class="what-i-do__content">
    <h2 class="what-i-do__title">WHAT I DO</h2>

    <div class="what-i-do__list">
      <div class="what-i-do__item" >
        <h3 class="what-i-do__item-title" data-number="01">
          <span class="what-i-do__item-heading">DIGITAL DESIGN</span>
        </h3>
        <p class="what-i-do__item-text">
          I craft captivating digital designs that captivate and motivate your audience. Allow me to breathe life into your brand with my expertise.
        </p>
      </div>

      <div class="what-i-do__item">
        <h3 class="what-i-do__item-title" data-number="02">
          <span class="what-i-do__item-heading">ART DIRECTION</span>
        </h3>
        <p class="what-i-do__item-text">
          My proficiency in art direction guarantees that your project aligns with your brand, conveys your message effectively, and is visually striking. Let's collaborate to narrate your story.
        </p>
      </div>

      <div class="what-i-do__item">
        <h3 class="what-i-do__item-title" data-number="03">
          <span class="what-i-do__item-heading">INTERACTION DESIGN</span>
        </h3>
        <p class="what-i-do__item-text">
          I have a specialization in creating user experiences that are not only functional but also aesthetically pleasing and user-friendly.
        </p>
      </div>

      <div class="what-i-do__item">
        <h3 class="what-i-do__item-title" data-number="04">
          <span class="what-i-do__item-heading">MOTION DESIGN</span>
        </h3>
        <p class="what-i-do__item-text">
          From dynamic logos to informative explainer videos, I infuse life into your message through visually mesmerizing motion design.
        </p>
      </div>
    </div>
  </div>
    </div>
</section>